/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  }
 /*
 
 /*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}


html, body {
	max-width: 1440px;
	min-width: 1140px;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	font-family: 'Open Sans'; /*sans-serif;*/
	color: grey;
}

div {
	box-sizing: border-box;
}

a { color: grey;
	text-decoration: none;
}

/*ОБЩИЙ КОНТЕЙНЕР*/ 
.container {
    width: 1022px;
    margin: 0 auto;
	padding: 0;
}


/*header*/
.first {
	font-size: 10px;
	text-transform: uppercase;
	box-shadow: 0 10px 12px -10px rgba(0,0,0,1);
	margin-bottom: 10px;
}
/*MENU*/
.shadow {
	font-size: 10px;
	text-transform: uppercase;
	box-shadow: 0 10px 12px -10px rgba(0,0,0,1);
}
.first li{
	padding: 10px;
}
.menu_items {
	position: relative;
}
.item {
	border-right: 1px solid #e1e1e1;
}
/*MENU drop*/

.menu li {

}
.menu_items_drop {
	position: absolute;
	background-color: #fff;
	opacity: 0;
}
.menu_items_drop a {
	text-decoration: none;
}
.item:hover .menu_items_drop {
	top: 1px;
	opacity: 1;
	background-color: #e1e1e1;
}
.menu_items_drop li  {
	display: relative;
	padding: 3px 3px;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
}
/*GREEN MENU*/

.menu_green li {
	border: 1px solid #008f53;
	border-top: none;
	color: white;
}

.download {
	background-color: #7fa822;
}
.by {
	background-color: #97c352;
}
/*end of GREEN MENU*/
/*TESTER*/
.slide {
	margin-top: 15px;
}
.tester {
	width: 100%;
	background-color: #ebebeb;
	margin-bottom: 25px;
}
.tester_pic {
	margin: 25px;
}
.tester_text {
	color: #030345;
	margin-left: 29px;
}
h1 {
	font-family: RobotoRegular;
	margin: 48px 0 18px 0;
	font-size: 35px;
	text-transform: uppercase;
}
.soft {
	font-size: 10px;
	color: black;
}
.buy {
	margin-left: 22px;
	margin-bottom: 20px;
	font-size: 19px;
	text-transform: uppercase;
	color: #030345;
}
.payment01 {
	margin-top: 30px;
}

/*FORM*/
.payment {
	margin-top: 25px;
}
.form_payment {
	border: 2px solid rgba(83, 88, 105, 0.1);
	box-sizing: border-box;
	border-radius: 5px;
	padding: 30px;
}
.number {
	font-size: 14px;
	color: white;
	text-align: center;
	width: 36px;
	height: 36px;
	padding: 11px;
	background: #221E8A;
	border-radius: 5px;
	margin-right: 20px;
}

h2 {
	font-size: 18px;
	line-height: 150%;
	color: #000000;
}
.names {
	margin-bottom: 38px;
}
.name_01 {
	font-weight: bold;
	font-size: 12px;
	line-height: 150%;
	color: #3C3C3C;
	opacity: 0.7;
}

::placeholder {
	padding-left: 20px;
}
.form_billing {
	width: 100%;
	height: 54px;
	border: 1px solid rgba(83, 88, 105, 0.1);
	box-sizing: border-box;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 15px;
} 
form {
	width: 100%;
}
.placeholder {
	font-size: 14px;
	line-height: 150%;
	opacity: 0.5;
	padding-left: 20px;
}
option {
	font-size: 14px;
	line-height: 150%;
	opacity: 0.5;
	padding-left: 20px;	
}
.cards_pics {
	width: 16.7%;
	height: 54px;
	border: 1px solid rgba(83, 88, 105, 0.1);
	padding: 10px 5px;
	position: relative;
	
}
.cards_pics div {
	height: 100%;
	box-sizing: border-box;
}
.cards_pics:first-child {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.cards_pics:last-child {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.cards_pics:hover {
	border: 1px solid rgba(108, 205, 108, 0.5);
}
.cards_pics_master {
	background: url("../pics/mc.png") no-repeat; 
	background-size: contain;
}
.cards_pics_wiretransfer {
	background-size: contain;
	background: url("../pics/wt.png") no-repeat; 
}
.cards_pics_qiwi {
	background: url("../pics/qiwi.png") no-repeat;
	background-size: contain;
}
.cards_pics_yandex {
	background: url("../pics/yandex.png") no-repeat; 
	background-size: contain;
}
.cards_pics_webmoney {
	background: url("../pics/webmoney.png") no-repeat; 
	background-size: contain;
}
.cards_pics_paypal {
	background: url("../pics/pp.png") no-repeat; 
	background-size: contain;
}

/*start of CHECKBOX */
.box {
    position: relative;
    margin-bottom: 1rem;
}

.box__in {
	-webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.box__lab {
    padding-left: 25px;
    font-size: 12px;
    line-height: 150%;
	color: #000000;
	opacity: 0.5;
}

.box__lab:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
	border: 1px solid rgba(83, 88, 105, 0.1);
	border-radius: 5px;
    position: absolute;
    z-index: 1;
	left: 0;
}

.box__lab:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    opacity: 0;
    position: absolute;
    z-index: 2;
}

.box__in:checked + .box__lab:before {
	background-color: rgba(83, 88, 105, 0.5);
	content: "\2714";
	color: rgba(83, 88, 105, 0.9);
	text-align: center;
}

.box__in:checked + .box__lab:after {
    opacity: 1;
}
/*end of CHECKBOX */
/*I have a COUPON start*/
.last {
	margin-top: 37px;
}
.box__lab01 {
    padding-left: 25px;
	font-size: 14px;
	line-height: 150%;
	color: #000000;
}

.box__lab01:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
	border: 1px solid rgba(83, 88, 105, 0.1);
	border-radius: 5px;
    position: absolute;
    z-index: 1;
	left: 0;
}

.box__lab01:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    opacity: 0;
    position: absolute;
    z-index: 2;
}

.box__in:checked + .box__lab01:before {
	background-color: rgba(83, 88, 105, 0.5);
	content: "\2714";
	color: rgba(83, 88, 105, 0.9);
	text-align: center;
}

.box__in:checked + .box__lab:after {
    opacity: 1;
}
.box__lab01 {
	font-size: 14px;
	line-height: 150%;
	color: #000000;
}
/*I have a COUPON end*/
.identity {
	height: 54px;
	border: 1px solid rgba(83, 88, 105, 0.1);
	border-radius: 5px;
}
.identity_card {
	width: 50%;
	margin-right: 30px;
}
.identity_details {
	width: 20%;
	margin-right: 30px;
}
.identity_cvv {
	width: 20%;
	margin-right: 0px;
}
.form_subtract {
	background: url("../pics/Subtract.png") no-repeat;
	width: 100%;
	background-size: 100%;
	padding: 30px;
}
.subtract_text_last {
	margin-bottom: 65%;
}
.subtract01 {
	margin-top: 25px;
	margin-top: 16px;
}
.subtract_prod01 {
	background: url("../pics/product01.png") no-repeat;
	width: 50px;
	height: 50px;
	border: 1px solid rgba(83, 88, 105, 0.1);
}
.subtract_forex {
	margin-left: 20px;
}
h3 {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	color: #000;
}

.subtract_prod02 {
	background: url("../pics/product02.png") no-repeat;
	width: 50px;
	height: 50px;
	border: 1px solid rgba(83, 88, 105, 0.1);
	margin-right: 20px;
}
.subtract_count01 p {
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	color: #0C2564;
	text-align: center;
	vertical-align: center;
}
.add {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	color: #000000;
	opacity: 0.5;
	width: 18px;
	height: 18px;
	padding-bottom: 2px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
	margin-left: 10px;
}
.minus {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	color: #000000;
	opacity: 0.5;
	width: 18px;
	height: 18px;
	padding-bottom: 2px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
	margin-right: 10px;
}
.subtract_count {
	margin-top: 10px;
	margin-bottom: 14px;
}

.price_full {	
	font-weight: bold;
	font-size: 12px;
	line-height: 150%;
	color: #BBBBBB;
	margin-right: 12px;
	text-decoration: line-through;
}
.price_actual {
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	color: #0C2564;
}

.subtract_sale {
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	color: #62C02C;
}
.subtract_data {
	padding-top: 10px;
}
.payment_term {
	margin-bottom: 30px;
}

/*TOTAL*/
.subtract_total {
	margin-top: 30px;
}
.subtract_total p {
	font-weight: bold;
	font-size: 24px;
	line-height: 150%;
	color: #0C2564;
}
.total_sum p {
	font-size: 14px;
	line-height: 150%;
	color: #b9b9b9;
}
.total_sum span {
	font-weight: bold;
}

.coup {
	font-size: 14px;
	line-height: 150%;
	margin-left: 15px;
	margin-right: 15px;
}
.subb {
	width: 322px;
	height: 54px;
	background: #62C02C;
	border-radius: 5px;
	font-weight: bold;
	font-size: 16px;
	line-height: 180%;
	color: #FFFFFF;
}