/* 1601 - 1920 px */
@media screen and (max-width: 1920px) {

}

/* 1369 - 1600 px */
@media screen and (max-width: 1600px) {

}

/* 961 - 1368 px */
@media screen and (max-width: 1368px) {
	.container {
		min-width: 961px;
		max-width: 1368px;
	}
	
	.slide {
	height: 550px;
	background-size: 60%;
	}
	
	.text {
		margin-right: 30px;
	}
	
	.position {
		font-size: 60px;
}
.propouse {
    font-size: 40px;
}
}

/* 769 - 960 px */
@media screen and (max-width: 960px) {
	.container {
		min-width: 769px;
		max-width: 960px;
}	

	.map_site {
		font-size: 12px;
}
		
	.top_picks02 {
		margin-left:20px;
		margin-right:20px;
}
		
	.rights {
		font-size: 1px;
}
	.youtube {
		margin-right: 15px;
}
}

/* 481 - 768 px */
@media screen and (max-width: 768px) {
	.container {
		max-width: 481px;
		min-width: 768px;
	}
    .text {
		margin-top: 20px;
}
	.from {
		font-size: 15px;
		margin-bottom: 32px;
}
	.position {
		font-size: 25px;
}
	.descripe {
		font-size: 10px;
}
	.propouse {
		font-size: 14px;
}
	.browse_btn {
		font-size: 10px;
		padding: 15px 30px;
}
.map_site_contacts {
	font-size: 8px;
}
}

/* 320 - 480 px */
@media screen and (max-width: 480px) {
	.container {
		max-width: 480px;
		min-width: 320px;
	}	
    .text {
    margin-top: 20px;
}
	.map_site {
		font-size: 5px;
}
	
	.rights {
		font-size: 5px;
}
	.youtube {
		margin-right: 8px;
}
}